<div class="row container col-12">
  <div class="card-show col-4 offset-4" style="width: 18rem;">
    <div class="card-header">
      List of Cocktails:
    </div>
    <ul class="list-group list-group-flush">
      <% @cocktails.each do |cocktail| %>
      <li class="list-group-item"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<%= link_to "ADD A COCKTAIL", new_cocktail_path, class: 'btn btn--stripe' %>
