<div class="container col-12">
  <div class="row new-form ">
    <div class="col-6 offset-3">
      <h2>Add your favourite cocktail:</h2>
      <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: 'btn btn-success' %>
      <% end %>
      <%= link_to "List of Cocktails", cocktails_path, class: 'btn btn-dark' %>
    </div>
  </div>
</div>
