.container {
  position: fixed;
  background-image: url("Wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
}

.card-header {
  font-weight: bold;
  background-color: #fdd998;
  text-align: center;
}

.list-group-item {
  background-color: #eff3c6;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.show {
  position: fixed;
  background-image: url("Wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
}
